<head>
  <title>Restaurants</title>
  <meta charset="UTF-8">
</head>

 
<div id= "shell">

<h1 id = "name"><%= link_to 'Caupona Adventures', welcome_index_path %></h1><br>

<div class = "restaurant">
    

 <a color=#F0E68C href=restaurants/new class="button button4">Add a New Restaurant</a> ||
 <a color=#F0E68C href=places class="button button4">View User Pictures</a>

<table width="100%" valign="top">
  <tr>
    <th class = "restaurant">Restaurant</th><br>
    <br><th class = "restaurant">Location</th>
    <th class = "restaurant">Description</th>
    <th colspan="2">Actions</th>
  </tr>
  
  
  <% @restaurants.each do |restaurant| %>
  
    <tr class = "listing">
      <td><%= link_to restaurant.name, restaurant_path(restaurant) %></td>
      <td><%= restaurant.location %></td>
      <td><%= restaurant.description%></td>
      <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
      <td><%= link_to 'Destroy', restaurant_path(restaurant), method: :delete, 
      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
</div>
<div id=b2>
<%= link_to 'Back', welcome_index_path %>
</div>
</div>

<div>
  <footer>
    &copy; Copyright 2017, Caupona Adventures (Group 9)
</footer>
</div>