<head>
  <title>Restaurants</title>
  <meta charset="UTF-8">
</head>
<div id= "shell">
<h1 id = "name"><%= link_to 'Caupona Adventures', welcome_index_path %></h1><br>

<h1>Listing restaurants</h1>

<div class = "restaurant">
    
 <ul>
 <li><%= link_to 'New restaurant', new_restaurant_path %></li>
 </ul>
 
<table>
  <tr>
    <th class = "restaurant">Restaurant</th><br>
    <br><th class = "restaurant">Location</th>
    <th class = "restaurant">Description</th>
  </tr>
  
  
  <% @restaurants.each do |restaurant| %>
  
    <tr class = "listing">
      <td><%= link_to restaurant.name, restaurant_path(restaurant) %></td>
      <td><%= restaurant.location %></td>
      <td><%= restaurant.description%></td>
      <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
      <td><%= link_to 'Destroy', restaurant_path(restaurant), method: :delete, 
      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
</div>
<div>
<%= link_to 'Back', welcome_index_path %>
</div>


<footer>
    &copy; Copyright 2017, Caupona Adventures (Group 9)
</footer>
</div>