
<header>
    <q>
    <title>Your Restaurant Pick</title>
    <p>
        <%= link_to 'Home', welcome_index_path %> |
	    <%= link_to 'Restaurants', restaurants_path %>
    </p>
	<meta charset="UTF-8">
</header>

<p>
    <table class=center>
  <tr class="listing">
    <th width=70%> <%=@restaurant.name%></th>
    <th><%=@restaurant.location %> </th>
  </tr>


<p>
    
    <th class><%= @restaurant.description %></th>

</p>

</table>
<table class=center>

  <tr class = "listing">
    <th class = "Name">Name</th><br>
    <br><th class = "Review">Review</th>
    <th class = "Rating">Rating</th>
    <th class = "Edit">Edit</th>
  </tr>
  <h2>Reviews:</h2>
<% @restaurant.reviews.each do |review| %>
<tr class >
<p>
  <td><%= review.commenter %></td>
  <td><%= review.review %></td>
  <td><%= review.rating %></td>
  <td><%= link_to 'Edit', edit_restaurant_review_path(review) %></td>
</p>
</tr>
<% end %>
</table>
<h2 text-align: center;>Add a review:</h2>
<%= form_for([@restaurant, @restaurant.reviews.build]) do |f| %>
<p>
    <%= f.label :commenter %>
    <%= f.text_field :commenter %>
</p>
<p>
    <%= f.label :review %>
    <%= f.text_area :review %><br>
    <%= f.label :rating %>
    <%= f.text_field :rating %>
</p>
<p>
    <%= f.submit %>
</p>
<% end %>

<div id = "b2">
<%= link_to 'Back', restaurants_path %>
  <footer> Copyright 2017, Caupona Adventures (Group 9)
  </footer>
</div>
