
    
<div id= case>  
<p>
        <%= link_to 'Home', welcome_index_path %> |
	      <%= link_to 'Restaurants', restaurants_path %>
    </p>
    <h1>
    <%=@restaurant.name%> <br>
    <h3>
    <%=@restaurant.location %> 
    </h3>
    <div id= desc>
    <%= @restaurant.description %>
    </div>


<table class=center width="100%" valign="top">
    <tr class = "listing">
    <th class = "Name">Name</th><br>
    <br><th class = "Review">Review</th>
    <th class = "Rating">Rating</th>
    <th class = "Delete">Delete</th>
    <th class = "Edit">Edit</th>
    </tr>
  
<% @restaurant.reviews.each do |review| %>
<tr class >
<p>
  <td><%= review.commenter %></td>
  <td><%= review.review %></td>
  <td><%= review.rating %></td>
  <td><%= link_to 'Delete Review', [review.restaurant, review],
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
  <td><%= link_to 'Edit Review', edit_restaurant_review_path(review.restaurant, review) %></td>
</p>
</tr>
<% end %>
</table>
<%= render 'reviews/form' %>



<div id = "b2">
<%= link_to 'Back', restaurants_path %>
</div>
</div>
<footer> 
  Copyright 2017, Caupona Adventures (Group 9)
</footer>
