<%= form_for([@restaurant, @restaurant.reviews.build]) do |f| %>

     <p>
      The review must fill these requirements to be saved:
      <p id=error>Commenter Field cannot be empty <br>
      Rating must be between 1 and 5<br>
      Review has a minimum requirement of 25 characters</p>
</p>
       
    
<p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %><br>
    <%= f.label :rating %><br>
    <%= f.text_field :rating %><br>
    <%= f.label :review %><br>
    <%= f.text_area :review %>
    
    

<p>
    <%= f.submit %>
</p>
<% end %>

