<header>
       <p>
        <%= link_to 'Home', welcome_index_path %> |
	    <%= link_to 'Restaurants', restaurants_path %>
    </p>
	<meta charset="UTF-8">
</header>

 <div id="shell">
<h1>Editing review</h1>
<%= form_for @review, url:restaurant_review_path  do |f| %>

    <% if @review.errors.any? %>
     <div id="error_explanation">
       <h2>
         <%= pluralize(@review.errors.count, "error") %> prohibited
         this review from being saved:
       </h2>
        <ul>
         <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
         <% end %>
        </ul>
     </div>
    <% end %>
    
<p>
    <%= f.label :Commenter %><br>
    <%= f.text_field :commenter %>
</p>

<p>
    <%= f.label :Rating %><br>
    <%= f.text_field :rating %>
</p>


<p>
    <%= f.label :Review %><br>
    <%= f.text_area :review %>
</p>



<p>
    <%= f.submit %>
</p>
<% end %>
 </div>
<footer>
    &copy; Copyright 2017, Caupona Adventures (Group 9)
</footer>