<h1>Listing reviews</h1>
 <div id = "test4">
 <%= link_to 'New review', new_review_path %>
 </div>
<table>
  <tr>
    <th id="test1">Resturant</th>
    <th id="test2">Review</th>
    <th id="test7">Rating</th>
  </tr>
  <% if false %>
  <% @reviews.each do |review| %>
    <tr id="test3">
      <td><%= review.title %></td>
      <td><%= review.text %></td>
      <td><%= review.rating %></td>
      <td><%= link_to 'Show', review_path(review) %></td>
      <td><%= link_to 'Edit', edit_review_path(review) %></td>
        
    </tr>
  <% end %>
  <% end %>
</table>

<div id = "b3">
<%= link_to 'Back', welcome_index_path %>
</div>

<footer>
    &copy; Copyright 2017, Caupona Adventures (Group 9)
</footer>