<p id="notice"><%= notice %></p>

<div id= "shell">

<h1>Places</h1>

<a color=#F0E68C href=places/new class="button button4">Add a new picture</a>

<table width="100%" valign="top">
  <thead>
    <tr>
      <th class = "restaurant">Name</th>
      <th class = "restaurant">Image</th>
      <th class = "restaurant" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr class = "listing">
        <td><%= link_to place.name, place_path(place) %></td>
        <td><%= place.image %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div id = "b2">
<%= link_to 'Back', restaurants_path %>
</div>
</div>